.container {
	position: fixed;
	top: 2em;
	height: 100%;
	width: 70px;
	background-color: #0e0e1b;
	/* box-shadow: 0 0 1em #00000088; */
	border-right: solid #948fff40 1px;
}

.button {
	width: 49px;
	height: 49px;
	text-align: center;
	padding: 15%;
	color: #948fff;
	fill: #948fff;
}

.pointer {
	/* margin: 15%; */
	height: 100%;
	cursor: pointer;
	fill: inherit;
	color: inherit;
	background-color: inherit;
}

.active {
	background-color: #2D2647;
	color: #fff;
	fill: #fff;
}

svg {
	height: 100%;
	width: 100%;
}
