.container {
	position: fixed;
	top: 0;
	height: 100%;
	width: 70px;
	background-color: #0e0e1b;
	z-index: 3;
}

.button {
	width: 49px;
	height: 49px;
	text-align: center;
	padding: 15%;
}

.pointer {
	/* margin: 15%; */
	height: 100%;
	cursor: pointer;
	color: #948fff;
	fill: #948fff;
	background-color: inherit;


}

.active {
	background-color: #1f1c3b;
	color: #fff;
	fill: #fff;
}

svg {
	height: 100%;
	width: 100%;
}
