@fontface {
  font-family: 'Overpass';
  src: url('./assets/Overpass-Regular.ttf');
}
// palette:
// $bg: #2B2D42;
$bg: #121126;
$fg: #ccc;

body {
  background-color: $bg;
  margin: 0;
  font-family: 'Overpass', sans-serif;
  color: $fg;
}

.container {
  display: flex;
  flex-direction: row;
  margin-left: 70px;
}
