.container {
	color: #948fff;
	height: 0.5em;
	display: flex;
	flex-direction: row;
}

.bar {
	height: 100%;
	background-color: #0e0e1b;
	text-align: left;
	width: 300px;
	border-radius: 1em;
	border: solid #948fff 2px;
	vertical-align: middle;
	display: table-cell;
	margin-right: 0.2em;
}

.progress {
	background-color: #948fff;
	height: 80%;
	margin: 1px;
	border-radius: 1em;
}

h5 {
	margin: 0;
	height: 100%;
	vertical-align: middle;
}
