.container {
	color: #948fff;
	height: 0.5em;
	display: flex;
	flex-direction: row;
	margin: 0.2em;
}

.bar {
	height: 100%;
	background-color: #13161D;
	text-align: left;
	width: 100%;
	border-radius: 1em;
	border: solid #948fff 2px;
	display: table-cell;
	margin-right: 0.2em;
}

.progress {
	background-color: #948fff;
	height: 80%;
	margin: 0.5px;
	border-radius: 1em;
}

h5 {
	margin-left: 0.2em;
	height: 100%;
	line-height: 0.8em;
}
